@page
@model ErrorModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ShiftManager.Resources.SharedResources> Localizer
@{
    Layout = "_Layout";
}
<div class="card">
    <h2>@Localizer["SomethingWentWrong"]</h2>
    <p>@Localizer["UnexpectedError"]</p>
</div>
