@page
@model IndexModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ShiftManager.Resources.SharedResources> Localizer
@{
    Layout = "_Layout";
}
<div class="card">
    <h2>@Localizer["WelcomeToShiftManager"]</h2>
    <p>@Localizer["WelcomeDescription"]</p>
    <p><a class="btn btn-primary" href="/Calendar/Month">@Localizer["GoToCalendar"]</a></p>
</div>
